.float-rigth {
    position: absolute;
    right: 3px;
    top: 3px;
    z-index: 1000;
}

.album-frame {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
}
.album-col {
    &.col-30{
        width: 25%;
    }
    &.col-70{
        width: 75%;
    }
    .img-canvas {
        margin: auto;
        width: 80%;
    }
    h2 {
        font-size: 1.7em;
        font-weight: 900;
        line-height: 2em;
        padding: 0px 3px;
    }
    h5{
        font-size: 1.2em;
        font-weight: 900;
        line-height: 2em;
        padding: 0px 2px;
    }
    p {
        font-size: .9em;
        font-weight: 900;
        line-height: 1.5em;
        padding: 0px 2px;
    }
}
.tracks {
    width: 100%;
}

.custom-card-header {
    color: white;
}

.title-header {
    font-size: 1.5em;
    font-weight: 900;
    line-height: 2em;
    height: 55px;
    padding: 7px;
    background-color: rgba(0,0,0,.6);

}