.float-rigth {
    position: absolute;
    right: 3px;
    top: 3px;
    z-index: 1000;
}

.album-frame {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
}

.album-col {
    &.col-30 {
        width: 25%;
    }

    &.col-70 {
        width: 75%;
    }

    .img-canvas {
        margin: 7px;
        width: 82%;


    }

    &.image-col {
        span {
            font-size: .6em;
            line-height: 1em;
            padding: 0px 7px;
        }
    }

    h1,
    h2 {
        margin: 0;
    }

    h1 {
        font-size: 1em;
        font-weight: 900;
        line-height: 1.5em;
        padding: 3px 7px;
    }

    h2 {
        font-size: .9em;
        font-weight: 500;
        line-height: 1.2em;
        padding: 3px 7px;
    }

    p {
        font-size: .8em;
        font-weight: 500;
        line-height: 1.5em;
        padding: 0px 2px;
    }
}

.album-info {
    width: 100%;
    height: 200px;
    overflow: hidden scroll;
    margin-bottom: 10px;
}

.tracks {
    width: 100%;
    height: calc(100% - 270px);
    overflow: hidden scroll;

    ion-note {
        margin: auto;
    }
}