.artist-frame {
    .img-cover {
        width: 35%;
        border-radius: 8px;
    }

    .artist-info {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: flex-start;
    }

    .col-30 {
        width: 30%;
        margin: 0 auto;
        padding: 4px;
    }

    .col-70 {
        width: 70%;
        margin: 0 auto;
        padding: 4px;
    }

    .track-list {
        padding: 5px;
    }
}

.tracks-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 0 10px;

    .scroll-info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}