<ion-segment (ionChange)="segmentChanged($event)">
  <ion-segment-button value="albums">
    <ion-label>Álbumes</ion-label>
  </ion-segment-button>
  <ion-segment-button value="artists">
    <ion-label>Artistas</ion-label>
  </ion-segment-button>
  <ion-segment-button value="genres">
    <ion-label>Géneros</ion-label>
  </ion-segment-button>
</ion-segment>
<ion-content class="ion-padding">
  <div class="selector-category" value="albums"></div>
  <div>
    <ion-router-outlet />
  </div>
</ion-content>
