@if (isLoading()) {
  <ion-progress-bar type="indeterminate" />
}

<ion-content class="genre-list-content">
  <div class="genre-chips-container">
    @for (genre of genres(); track genre.genreId) {
      <ion-chip
        class="genre-chip"
        (click)="onGenreClick(genre)"
      >
        <ion-label>{{ genre.label }}</ion-label>
      </ion-chip>
    }
  </div>
</ion-content>

<app-lateral-panel
  [panelId]="'genre-detail'"
  [isOpen]="isPanelOpen()"
  [title]="panelTitle()"
  [customWidth]="'60%'"
  (panelClosed)="onPanelClosed()"
>
  @if (selectedGenre()) {
    <app-genre-detail-panel
      [genre]="selectedGenre()!"
      [albums]="albums()"
      [artists]="artists()"
    />
  }
</app-lateral-panel>
