<div class="genre-list" *ngIf="!selectedGenre">
  <ion-accordion-group>
    <ion-accordion
      *ngFor="let letterGroup of groupedList"
      [value]="letterGroup.letter"
    >
      <ion-item slot="header" color="light">
        <ion-label
          >{{ letterGroup.letter }} ({{ letterGroup.genres.length }})</ion-label
        >
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-chip
          *ngFor="let genre of letterGroup.genres"
          (click)="selectGenre(genre)"
          >{{ genre.label }}</ion-chip
        >
      </div>
    </ion-accordion>
  </ion-accordion-group>
</div>
<div *ngIf="selectedGenre">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ selectedGenre.label }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="albums-list">
        <app-album-square
          *ngFor="let album of albums"
          [album]="album"
          (back)="back()"
        ></app-album-square>
      </div>
    </ion-card-content>
  </ion-card>
</div>
