.genre-list {
    display: flex;
    flex-wrap: wrap;
    height: calc(100% - 50px);
    overflow: hidden scroll;

    ion-accordion-group {
        width: 100%;
    }
}

.albums-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    height: 70%;
    overflow: hidden scroll;
}