<ion-header>
  <ion-toolbar>
    <ion-searchbar
      show-clear-button="always"
      [debounce]="800"
      (ionInput)="handleSearch($event)"
    ></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button (click)="goNext()">Button</ion-button>
    </ion-buttons>
    <div>Genres:{{ totalGenres }}</div>
  </ion-toolbar>
</ion-header>
<div class="genre-list" *ngIf="!selectedGenre">
  <ion-chip *ngFor="let genre of genreList"
  (click)="selectGenre(genre)">{{ genre.label }}</ion-chip>
</div>
<div *ngIf="selectedGenre">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ selectedGenre.label }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="albums-list">
        <app-album-square *ngFor="let album of albums"
          [album]="album"
          (back)="back()"></app-album-square>
      </div>
    </ion-card-content>
  </ion-card>