.genre-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    height: 70%;
    overflow: hidden scroll;
}
.albums-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    height: 70%;
    overflow: hidden scroll;
}