.control-nav {
    background-color: rgba(0,0,0,.4);
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
    width: 100%;
    .volume-control {
        width: 15%;
    }
    .player-control {
        width: 80%;
    }
}
.canvas-player{
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left;
    height: 95%;
    width: 100%;
    .flex-div {
        display: flex;
        justify-content: start;
        flex-direction: row;
        height: 100%;
        width: 100%;

    }
    .flex-col {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        }
        .small-col {
            width: 25%;
        }
    }
.flex-div{
    display: flex;
    justify-content: start;
    flex-direction: row;
    height: 85%;
}
.selector-category {
    height: 100%;
    width: 70%;
    &>ion-card {
        height: 85%;
        ion-card-content {
            height: 90%;
        }
    }
}

player-current-track {
    background-color: rgba(0,0,0,.4);
    height: 30%;
    width: 100%;
}
app-current-play-list {
    height: 70%;
    width: 100%;
}
