.float-volume-control{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 2PX;
    background-color: black;
    width: 250px;
    .volume-slide{
        height: 30px;
        width: 80%;
    }
}
