<ion-segment (ionChange)="segmentChanged($event)">
  <ion-segment-button value="movies">
    <ion-label>Películas</ion-label>
  </ion-segment-button>
  <ion-segment-button value="tvshows">
    <ion-label>Series</ion-label>
  </ion-segment-button>
  <ion-segment-button value="actors">
    <ion-label>Actores</ion-label>
  </ion-segment-button>
  <ion-segment-button value="genres">
    <ion-label>Géneros</ion-label>
  </ion-segment-button>
</ion-segment>
<ion-content class="ion-padding">
  <div class="selector-category" value="movies"></div>
  <div>
    <ion-router-outlet />
  </div>
</ion-content>
