.saved-playlist-list {
  ion-toolbar {
    --min-height: 40px;
  }

  ion-list {
    ion-item {
      --padding-start: 12px;

      h2 {
        font-size: 1em;
        font-weight: 500;
      }

      p {
        font-size: 0.85em;
      }
    }
  }
}
