.current {
    height: 100%;
    width: 100%;

    &>ion-card {
        .artist-card {
            height: 100%;
        }
    }
}

.current-track {
    width: 100%;
    display: flex;
    flex-direction: row;

    &>img {
        height: 120px;
        width: 120px;
    }

    .track-info {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 120px;
        padding-left: 3%;
        width: inherit;

        ion-card-title {
            font-size: 1em;
            font-weight: 900;
        }

        ion-card-subtitle {
            font-size: .8em;
            font-weight: 900;
        }
    }
}