<div class="current">
  <ion-card color="light">
    <ion-card-content class="artist-card">
      <div class="current-track">
          <img
            class="current-thumb"
            alt="Silhouette of mountains"
            src="{{ currentTrack?.thumbnail | assets }}"
          />
          <!--style="background-image: url({{currentTrack?.fanart|assets}});"-->
          <div class="track-info">
            <ion-card-title>{{ currentTrack?.title }}</ion-card-title>
            <ion-card-subtitle>{{ currentTrack?.album }}</ion-card-subtitle>
            <ion-card-subtitle>{{ printArtist() }}</ion-card-subtitle>
          </div>
      </div>
    </ion-card-content>
  </ion-card>
</div>
