.current {
    height: 100%;
    width: 100%;

    &>ion-card {
        .artist-card {
            height: 100%;
        }
    }
}

.current-track {
    width: 100%;
    display: flex;
    flex-direction: row;

    &>img {
        height: 100px;
        width: 100px;
    }

    .track-info {
        height: 100px;
        padding-left: 3%;
        width: inherit;

        ion-card-title {
            font-size: 1em;
            font-weight: 900;
        }

        ion-card-subtitle {
            color: #e0e0e0;
            padding-top: 7px;
            font-size: .8em;
            font-weight: 900;
        }
    }
}